<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Scope of Work</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://rawgit.com/RickStrahl/jquery-resizable/master/src/jquery-resizable.js"></script>
    <script type="text/javascript" src="https://raw.githubusercontent.com/cowboy/jquery-resize/v1.1/jquery.ba-resize.js"></script>
    <style>
        .CodeMirror, .CodeMirror-scroll {
    height: 85%;
}
    </style>
    <%= csrf_meta_tag() %>
</head>

<body>
    <%= if @current_user do %>
    <%= render "authenticated.html", assigns %>
    <% else %>
    <%= render "unauthenticated.html",assigns %>
    <% end %>
    <main id="alerts" role="main" class="container">
        <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
    </main>
    <div style="background: #f9fafc">
        <%= render @view_module, @view_template, assigns %>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/mammoth@1.4.8/mammoth.browser.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/10.0.0/markdown-it.min.js"></script>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>
    ">
    </script>
    <script>
    var md = window.markdownit();

    $(document).ready(function() {
        $('.tabs').tabs();
        $('.indicator').css('background', 'indigo');
    });

    $(document).ready(function() {
        setTimeout(function() {
            $('#alerts').fadeOut();
        }, 2000);
    })
    </script>
</body>

</html>