<nav class="nav-extended">
    <div class="indigo darken-1 nav-wrapper">
      <i class="brand-logo">
        <i class="material-icons">format_align_left</i>
        <span class="logo-text">Scope.Of.Work</span>
        <span class="new badge demo-badge logo-text" data-badge-caption="DEMO"></span>
      </i>
    </div>
</nav>
