<h1>Passowrd Restore</h1>
<%= form_for @changeset, "/users/login/forgotpassword/sendrecoverylink", fn f -> %>
<%= if @changeset.action do %>
<div class="alert alert-danger">
    <p>There are some errors</p>
</div>
<% end %>
<div class="form-group">
    <%= text_input f, :email, placeholder: "Email",
                              class: "form-control" %>
    <%= error_tag f, :email %>
</div>
<%= submit "Request password change", class: "btn btn-primary" %>
<% end %>