<p>
  Hello <%= @email_address %>!
</p>
<p>
  Here is you'r password restore link <strong><%= @link %></strong> 
  if you did not request a password change just ignore this email
</p>
<p>
- Sow Project Team
</p>