  <div id="WorkStatement" class="col s12">Work Statement</div>
  <div id="Budget" class="col s12">Budget</div>
  <div id="Timing" class="col s12">Timing</div>
  <div id="Documents" class="col s12">Documents</div>
  <div id="Backlog" class="col s12">Backlog</div>
  <div id="TechStack" class="col s12">Tech Stack</div>
  <div id="Developers" class="col s12">Developers</div>
        